
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.address_listing {
  background: #fff;
  color: #000;
  padding: 20px;
}
.address_listing h4 {
  font-weight: bolder;
}
.all_address {
  margin-top: 16px;
  padding-bottom: 15px;
}
.DeleteModal h4{
  padding: 20px 0;
}
.TaskList .react-tabs{width: 100%;margin-top:30px}
.react-tabs__tab--selected{border-color: #ced4da;}
.TaskList .react-tabs__tab-list{border-bottom:1px solid #ced4da;}
.fa{cursor:pointer}
.react-tabs__tab,.fa-2x{color:#0062cc}
.done{background-color:green}
.table th{position:relative}
.table th::after {position: absolute;content: "\f0dc";font-family: FontAwesome;bottom: 8px;right: 8px;cursor:pointer}
.table th:last-child::after{display:none}
.Title{cursor:pointer}